<div class="dropdown-content is-active">
    <h2 class="dropdown-content-h2">{{name || "REMINGTON R51"}}</h2>

    <a class="dropdown-content-a" href="#">
        <div class="dropdown-content-a-div1" href="#">
            {{desc || "FEATURING THE REMINGTON R51 CRIMSON TRACE"}}
        </div>
        <div class="dropdown-content-a-div2">
            <img src="{{imageurl || 'http://bit.ly/2nrAYgN'}}" style="height:203px;width:330px"/>
        </div>
    </a>

    <div class="dropdown-content-div">
        <div class="dropdown-content-div-description">
            <a class="div3-description-msrp" href="#">
                <small>MSRP from</small>
                <p id="div3-description-msrp-smalltext">${{dollar || "648"}} <sup>{{cents || "00"}}</sup></p>
            </a>
            <a class="div3-description-btn" href="#">
                <p id="div3-description-btn-text">
                    THERE ARE {{modelNum || "2"}} {{name || "REMINGTON R51"}} HANDGUN STYLES&nbsp;AVAILABLE
                </p>
            </a>
        </div>

        <div class="dropdown-content-div-buttons">
            <a href="#" class="div3-buttons-green"><span id="green-button">RELATED PRODUCTS</span></a>
            <a href="#" class="div3-buttons-green"><span id="green-button">{{class || "HANDGUNS"}}</span></a>
            <a href="#" class="div3-buttons-green"><span id="green-button">{{name || "REMINGTON R51"}}</span></a>
        </div>
    </div>
</div>
