<div class="bg-image">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">RIFLES</p>
        </div>
        <div>
            <p id="rifles-text-two">The Remington rifle. Inspried by the one first hand-built<br>by Eliphalet Remington, our hunting and tactical rifles<br> continue to shape a nation and forge the world's most<br>trusted gunmaker-200 years onward.</p>
        </div>
    </div>
</div>
<div class="passion-wrapper">
<div class="currentPage">
<div class="currentPageHome">
  <i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i>
</div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne">RIFLES</p></div>
</div>
<div class="rifleOrPassion">
<div class="slider-passion"><p class="slider-passion-text">RIFLE TYPE</p></div>
<div class="slider-outer">
<div class="slider-inner">
<div class="slider-circle"></div>
</div>
</div>
<div class="slider-passion"><p class="slider-passion-text-one">PASSION</p></div>
</div>
<div class="modelSelect"><p class="select-text">QUICK MODEL SELECT</p></div>
</div>
<div class="rifleGameTiles">
    <div class="rifletileFirstRow">
        <a ui-sref="bolt-action"><div class="rifletileImageOne" id="rifletile">
            <p id="rifletileImageText">BOLT ACTION</p>
        </div></a>
        <a ui-sref="modernrifles"><div class="rifletileImageTwo" id="rifletile">
            <p id="rifletileImageText">MODERN SPORTING</p>
        </div></a>
        <div class="rifletileImageThree" id="rifletile">
            <p id="rifletileImageText">MUZZLELOADING</p>
        </div>
    </div>
    <div class="rifletileLastRow">
        <div class="rifletileImageFour" id="rifletileTwo">
            <p id="rifletileImageText">PUMP-ACTION</p>
        </div>
        <div class="rifletileImageFive" id="rifletileTwo">
            <p id="rifletileImageText">RIMFIRE</p>
        </div>
    </div>
</div>
<div class="rifleGameTiles-one">
    <div class="rifletileFirstRow">
        <div class="rifletileImageOne" id="rifletile">
            <p id="rifletileImageText">BIG GAME</p>
        </div>
        <div class="rifletileImageTwo" id="rifletile" <a ui-sref="modernrifles">
            <p id="rifletileImageText">SMALL GAME</p></a>
        </div>
        <div class="rifletileImageThree" id="rifletile">
            <p id="rifletileImageText">PREDATOR & VARMINT</p>
        </div>
    </div>
    <div class="rifletileLastRow">
        <div class="rifletileImageFour" id="rifletileTwo">
            <p id="rifletileImageText">RANGE & RECREATION</p>
        </div>
        <div class="rifletileImageFive" id="rifletileTwo">
            <p id="rifletileImageText">TACTICLE</p>
        </div>
    </div>
</div>
<div class="below-rifle-tile">
    <div class="below-rifle-left">
        <div id="block">
            <div class="below-rifle-left-text">
                <p id="below-rifle-text-one">REMINGTON RIFLES</p>
            </div>
            <div class="below-rifle-left-text">
                <p id="below-rifle-text">Building on a legacy of excellence forged by Eliphalet Remington in 1816, Remington rifles have defined and defended the American way of life for more than 200 years.</p>
            </div>
            <div class="below-rifle-left-text">
                <p id="below-rifle-text">The Model 700® bolt-action’s accuracy and dependability remain legendary more than 50 years since it was unveiled. And Remington innovation continues to enhance the capabilities of the Modern Sporting Rifle.
                </p>
            </div>

            <div class="below-rifle-left-text">
                <p id="below-rifle-text">
                    Remington modern rimfires lead the way in accuracy and reliability, while our classic pump-action and autoloaders deliver timeless lines and precision of the highest level.</p>
            </div>

            <div class="below-rifle-left-text">
                <p id="below-rifle-text">And our pump-action Model 7600™ provides the fast follow-ups and pointability, should you need another shot at that shot of a lifetime.</p>
            </div>
        </div>
    </div>

    <div class="below-rifle-right">



    </div>
</div>

<div class="underFlicky-rifle">
    <div class="underFlickyBox">
        <div class="rebateLogo"></div>
        <p id="rebateText">CASH BACK BY MAIL<br>FOR SELECT PURCHASES</p>
        <div class="learnMore">
            <p id="learnMoreText">LEARN MORE</p>
        </div>
    </div>
    <div class="underFlickyBox">
        <div class="catalogLogo"></div>
        <p id="catalogText">FLIP THROUGH OUR<br>MEDIA-RICH DIGITAL CATALOG</p>
        <div class="diveIn">
            <p id="diveInText">DIVE IN</p>
        </div>
    </div>
</div>

<div class="below-rifle-tile-one">
    <div class="below-rifle-left-one">
        <div id="block">
            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text-two">RESEARCH & DEVELOPMENT</p>
            </div>
            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text">With nearly 200 years of history, Remington doesn’t just build firearms: we look to our past, assess the present and forecast the future. Our engineers at “The Rock,” our world-class skunk works and engineering center, devote thousands
                    of hours to meticulously designing, testing and building the best products in the industry.</p>
            </div>
            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text">
                    They are engineers, ballistic scientists, chemists, retired U.S. Military and law-enforcement experts, top-ranking competitive shooters, hunters and all manners of experts in the field. Together, they continue to revolutionize every facet of firearm and
                    ammunition performance. From the world’s most advanced R&D testing facilities. The Rock, by Remington®.
                </p>
            </div>

            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text">
                    Remington R&D masterminds engineer excellence for every passion and continue to carry the torch of innovation and reliability farther every year. The tack-driving Model 783 family continues to expand with new offerings, while the Model 700’s legend grows
                    with each new configuration. And with the VersaPort gas-operated system, the unstoppable Versa Max and the new V3 continue to take the shotgun world by storm.</p>
            </div>

            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text">There is no such place as off the clock for Remington engineers, even when it comes to tried-and-true loads like the Remington Core-Lokt, celebrating over 75 years as The Deadliest Mushroom in the Woods. It was born in 1939 as the very
                    first controlled expansion bullet, and we’ve been improving it ever since – a commitment to performance that’s made it the world’s best-selling centerfire hunting ammunition.</p>
            </div>

            <div class="below-rifle-left-text-one">
                <p id="below-rifle-text">HyperSonic Rifle Boded. Hog Hammer. Ultimate Defense Handgun. Each exemplifies our massive, ongoing commitment to R&D. And in each line you’ll find more offerings every year. Because at Remington the innovation never stops.</p>
            </div>
        </div>
    </div>
    <div class="below-rifle-right-one">
      <div class="below-rifle-right-one-images"></div>
      <div class="below-rifle-right-two-images"></div>
      <div class="below-rifle-right-three-images"></div>
    </div>
</div>
