.bg-image {
    background-image: url("http://bit.ly/2n6e8eR");
    background-repeat: no-repeat;
    background-size: cover;
    height: 723px;
    width: 100vw;
    z-index: -1;
}

.text-in-bg-image {
    width: 700px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 277px;
    height: 194px;
}

#rifles-text-one {
    position: relative;
    font-size: 48px;
    transform: scale(1, 1.8);
    font-weight: 900;
}

#rifles-text-two {
    position: relative;
    top: 41px;
    font-size: 20px;
}

.passion-wrapper {
  display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40px;
    position: relative;
    top: 60px;
    justify-content: space-around;
}

.currentPage {
  width: 150px;
    height: 38px;
    position: relative;
    left: 92px;
    display: flex;
}

.currentPageHome {
  width: 20px;
height: 20px;
}

.home-logo {
  position: relative;
    left: 10px;
    top: 5px;
}

.currentPageArrow {
  background-image: url("http://bit.ly/2obmEG5");
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 32px;
  position: relative;
left: 19px;
}

.currentPageText {
  color: #555;
}

.currentPageTextOne {
  position: relative;
top: 10px;
left: 25px;
}

.rifleOrPassion {
  width: 308px;
height: 38px;
position: relative;
left: 7px;
display: flex;
    justify-content: space-between;
    color: #555;
}

.slider-passion {

}

.slider-passion-text {
  position: relative;
    top: 8px;
    font-size: 22px;
    right: 20px;
    white-space: nowrap;
}

.slider-passion-text-one {
  position: relative;
    top: 8px;
    font-size: 22px;
    left: 20px;
    white-space: nowrap;
}

.slider-outer {
  width: 124px;
height: 20px;
background-color: pink;
position: relative;
top: 10px;
border-radius: 5px;
}

.slider-inner {
  width: 124px;
height: 2px;
background-color: black;
position: relative;
top: 9px;
}

.slider-circle {
  width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 50px;
    position: relative;
    bottom: 13px;
}

.modelSelect {
  width: 234px;
height: 38px;
background-color: #555;
position: relative;
right: 94px;
color: white;
}

.select-text {
  text-align: center;
    position: relative;
    top: 10px;
}

.rifleGameTiles {
    width: 100vw;
    height: 830px;
}

.rifleGameTiles-one {
    width: 100vw;
    height: 830px;
    display: none;
}

.rifletileFirstRow {
    display: flex;
    height: 228px;
    width: 992px;
    margin: auto;
    position: relative;
    justify-content: space-between;
    top: 106px;
}

.rifletileLastRow {
    isplay: flex;
    height: 199px;
    width: 900px;
    margin: auto;
    position: relative;
    top: 217px !important;
}

#rifletile {
    width: 300px;
    height: 300px;
    position: relative;
    top: 25px;
}

#rifletile:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    mix-blend-mode: hard-light;
}

#rifletile:hover:before {
    background: #074b23;
}

#rifletileTwo {
    width: 300px;
    height: 300px;
    position: relative;
    top: 25px;
    margin-right: 47px;
    left: 131px;
}

#rifletileTwo:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    mix-blend-mode: hard-light;
}

#rifletileTwo:hover:before {
    background: #074b23;
}

#rifletileImageText {
    text-align: center;
    color: white;
    position: relative;
    top: 137px;
    font-size: 22px;
    transform: scale(1, 1.8);
    font-weight: 800;
}

.rifletileImageOne {
    background-image: url("http://bit.ly/2nHZcB9");
    background-repeat: no-repeat;
    background-size: cover;
}

.rifletileImageTwo {
    background-image: url("http://bit.ly/2mGeFQl");
    background-repeat: no-repeat;
    background-size: cover;
}

.rifletileImageThree {
    background-image: url("http://bit.ly/2n4YTSD");
    background-repeat: no-repeat;
    background-size: cover;
}

.rifletileImageFour {
    background-image: url("http://bit.ly/2mYsPy3");
    background-repeat: no-repeat;
    background-size: cover;
}

.rifletileImageFive {
    background-image: url("http://bit.ly/2n56qAP");
    background-repeat: no-repeat;
    background-size: cover;
}

.rifletileLastRow {
    display: flex;
    height: 199px;
    width: 900px;
    margin: auto;
    position: relative;
    top: 143px;
}

.below-rifle-tile {
    width: 100vw;
    height: 467px;
    display: flex;
    color: #286017;
    position: relative;
    /*left: 200px;*/
    display: flex;
    justify-content: center;
}

.below-rifle-left {
    width: 617px;
    height: 412px;
    background-color: yellow;
    border-right-style: solid;
    border-right-color: black;
    position: relative;
    left: 37px;
}

.below-rifle-left-text {
    margin-bottom: 25px;
}

#below-rifle-text-one {
    font-size: 25px;
}

#below-rifle-text-up {
    line-height: 19px
}

#block {
    width: 580px;
}

.below-rifle-right {
  width: 534px;
    height: 412px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 39px;
}

.underFlicky-rifle {
    background-image: url(http://bit.ly/2m2HYkx);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 416px;
    background-position-y: -160px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
}

.below-rifle-tile-one {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.below-rifle-left-one {
    width: 617px;
    height: 715px;
    border-right-style: solid;
    border-right-color: black;
    position: relative;
    left: 199px;
    top: 68px;
    color: #286017;
}

.below-rifle-right-one {
    width: 580px;
    height: 657px;
    position: relative;
    top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.below-rifle-right-one-images {
    background-image: url("http://bit.ly/2n0K3us");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
}

.below-rifle-right-two-images {
    background-image: url("http://bit.ly/2nDlFlP");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
}

.below-rifle-right-three-images {
    background-image: url("http://bit.ly/2mMK0l3");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
}

#below-rifle-text-two {
    font-size: 31px;
    transform: scale(1, 2.4);
    font-weight: 800;
}

#below-rifle-text-two {
    position: relative;
    top: 5px;
}

.below-rifle-left-text-one {
    margin-bottom: 36px;
    position: relative;
    top: 19px;
}
