<div class="bg-image-modernrifles">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">BOLT-ACTION</p>
        </div>
        <div>
            <p id="rifles-text-two">Remington bolt-action rifles are simply the most popular of all time, due in part to their hard-earned reputation as the most accurate production rifles on the market today.</p>
        </div>
    </div>
</div>

<div class="div-modern-wrapper">
    <div class="div2-modern-wrapper-inside">
        <div class="div-modern-top-wrapper"></div>
        <div class="div-modern-bottom-wrapper">
            <div class="div-modern-inside-left">
                <div class="div-modern-inside-left-find-one">
                    <p id="div-modern-inside-left-find-one">Find your rifle</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">RIFLE FAMILY</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">CARTRIDGE</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL MATERIAL</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL FINISH</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK MATERIAL</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK FINISH</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">ADDITIONAL OPTIONS</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">PASSION</p>
                </div>
                <div class="div-modern-inside-left-find-boxes">
                    <div class="div-modern-inside-left-find-box1">
                        <p id="box1">FIND</p>
                    </div>
                    <div class="div-modern-inside-left-find-box2">
                        <p id="box2">SHOW ALL</p>
                    </div>
                </div>
            </div>
            <div class="div-modern-inside-right">
                <div class="div-modern-inside-right-leftside">
                    <div class="div-modern-inside-right-leftside-contain">
                        <p id="div-modern-inside-right-leftside-text-one">REMINGTON BOLT-ACTION RIFLES</p>

                        <p id="div-modern-inside-right-leftside-text">The Model 700® is a legend in every way. Its superior performance is testament to firearm ingenuity – from varmint and big game hunting, to competitive shooting, to the most elite military and tactical applications.<br><br>For game-dropping power in a fast-handling platform, the Model Seven™ delivers like no other. It’s ideal for blinds and tree stands, or on the move when swift shot placement is essential.<br><br>It’s not dressed to impress, it’s dressed for work. The Model 783™ was made to hunt, born to get it done. It holds a number of precision-enhancing features unheard of for a rifle in its class.</p>
                    </div>
                    <div class="div-modern-inside-right-rightside"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 CDL SF</p>
        <div class="div-modern-rifle-image"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">A rifle without equal and a superior performer in every way, the Model 700 CDL SF pairs a receiver machined from a solid stainless-steel bar, with a fluted barrel for reduced weight and unmatched shot-to-shot consistency.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,180 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 VTR</p>
        <div class="div-modern-rifle-image-second"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">A fusion of our most advanced performance features in both tactical and varmint rifles, the Model 700™ Varmint-Tactical Rifle (VTR™) is a revolutionary system optimized for extended-range precision and mobility. Its triangular barrel contour is a product of years of rigorous research and development focused on reducing weight, enhancing rigidity and promoting rapid heat dissipation.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$930 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 BD</p>
        <div class="div-modern-rifle-image-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The Remington Model 700,™ a rifle with no equal, and a superior performer in every way. Its accuracy and dependability have become the standard by which all other centerfire rifles are measured and continually fall short.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$994 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 CDL </p>
        <div class="div-modern-rifle-image-second-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Remington Model 700,™ a rifle with no equal, and a superior performer in every way. Its accuracy and dependability have become the standard by which all other centerfire rifles are measured and continually fall short.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,029 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 XCR COMPACT TACTICAL</p>
        <div class="div-modern-rifle-image-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Never before has a rifle this durable and rugged been introduced to the world of hunting. Featuring Remington’s proprietary TriNyte™ Corrosion Control System, the Model 700™ XCR™ (Xtreme Conditions Rifle) is virtually impervious to even the most extreme conditions.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,540 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 XCR TACTICAL</p>
        <div class="div-modern-rifle-image-second-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Never before has a rifle this durable and rugged been introduced to the world of hunting. Featuring Remington’s proprietary TriNyte™ Corrosion Control System, the Model 700™ XCR™ (Xtreme Conditions Rifle) is virtually impervious to even the most extreme conditions.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1540 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>
