<nav-bar></nav-bar>
<ui-view autoscroll='true'></ui-view>
<div class="bg-image-bolt-action">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">BOLT-ACTION</p>
        </div>
        <div>
            <p id="rifles-text-two">Remington bolt-action rifles are simply the most popular of all time, due in part to their hard-earned reputation as the most accurate production rifles on the market today.</p>
        </div>
    </div>
</div>

<div class="div-modern-wrapper">
    <div class="div2-modern-wrapper-inside">
        <div class="div-modern-top-wrapper"></div>
        <div class="div-modern-bottom-wrapper">
            <div class="div-modern-inside-left">
                <div class="div-modern-inside-left-find-one">
                    <p id="div-modern-inside-left-find-one">Find your rifle</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">RIFLE FAMILY</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">CARTRIDGE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">ADDITIONAL OPTIONS</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">PASSION</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find-boxes">
                    <div class="div-modern-inside-left-find-box1">
                        <p id="box1">FIND</p>
                    </div>
                    <div class="div-modern-inside-left-find-box2">
                        <p id="box2">SHOW ALL</p>
                    </div>
                </div>
            </div>
            <div class="div-modern-inside-right">
                <div class="div-modern-inside-right-leftside">
                    <div class="div-modern-inside-right-leftside-contain">
                        <p id="div-modern-inside-right-leftside-text-one">REMINGTON BOLT-ACTION RIFLES</p>

                        <p id="div-modern-inside-right-leftside-text">The Model 700® is a legend in every way. Its superior performance is testament to firearm ingenuity – from varmint and big game hunting, to competitive shooting, to the most elite military and tactical applications.<br><br>For game-dropping power in a fast-handling platform, the Model Seven™ delivers like no other. It’s ideal for blinds and tree stands, or on the move when swift shot placement is essential.<br><br>It’s not dressed to impress, it’s dressed for work. The Model 783™ was made to hunt, born to get it done. It holds a number of precision-enhancing features unheard of for a rifle in its class.</p>
                    </div>
                    <div class="div-modern-inside-right-rightside-one"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 CDL SF</p>
        <div class="div-bolt-action-image"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">A rifle without equal and a superior performer in every way, the Model 700 CDL SF pairs a receiver machined from a solid stainless-steel bar, with a fluted barrel for reduced weight and unmatched shot-to-shot consistency.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,180 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-700-cdl-sf"<p id="contain-right-one-new">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 VTR</p>
        <div class="div-bolt-action-image-second"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">A fusion of our most advanced performance features in both tactical and varmint rifles, the Model 700™ Varmint-Tactical Rifle (VTR™) is a revolutionary system optimized for extended-range precision and mobility. Its triangular barrel contour is a product of years of rigorous research and development focused on reducing weight, enhancing rigidity and promoting rapid heat dissipation.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$930 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-new">
                    <a ui-sref="model-700-vtr"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 BD</p>
        <div class="div-bolt-action-image-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The Remington Model 700,™ a rifle with no equal, and a superior performer in every way. Its accuracy and dependability have become the standard by which all other centerfire rifles are measured and continually fall short.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$994 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 CDL </p>
        <div class="div-bolt-action-image-second-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Remington Model 700,™ a rifle with no equal, and a superior performer in every way. Its accuracy and dependability have become the standard by which all other centerfire rifles are measured and continually fall short.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,029 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 XCR COMPACT TACTICAL</p>
        <div class="div-bolt-action-image-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Never before has a rifle this durable and rugged been introduced to the world of hunting. Featuring Remington’s proprietary TriNyte™ Corrosion Control System, the Model 700™ XCR™ (Xtreme Conditions Rifle) is virtually impervious to even the most extreme conditions.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,540 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 XCR TACTICAL</p>
        <div class="div-bolt-action-image-second-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Never before has a rifle this durable and rugged been introduced to the world of hunting. Featuring Remington’s proprietary TriNyte™ Corrosion Control System, the Model 700™ XCR™ (Xtreme Conditions Rifle) is virtually impervious to even the most extreme conditions.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1540 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-new">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 LONG RANGE</p>
        <div class="div-bolt-action-image-three"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Engineered to make three shots look like one. From extended-range big-game hunting to printing one-ragged-hole groups from the bench, no rifle delivers like the Model 700™ Long Range. And we're continually finding new ways to maximize our legendary action's inherent precision</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$879 <sup id="div-modern-rifle-right-bottom-text-two-text">76</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second-three">
        <p class="div-p-modern-rifle-text-second">MODEL 700 SPS</p>
        <div class="div-bolt-action-image-second-three"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">There is a cost that comes with high performance, in this case, it’s a lot less than you think. The Model 700™ SPS™ (Special Purpose Synthetic) offers everything you love about the legendary Model 700, all at an extremely affordable price.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$731 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-new">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 SPS COMPACT</p>
        <div class="div-bolt-action-image-four"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">There is a cost that comes with high performance, in this case, it’s a lot less than you think. The Model 700 SPS (Special Purpose Synthetic) offers everything you love about the legendary Model 700, all at an extremely affordable price.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$731 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 SPS CAMO </p>
        <div class="div-bolt-action-image-second-four"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Model 700™ SPS (Special Purpose Synthetic) Camo puts legendary Model 700™ accuracy and reliability within reach of the most avid enthusiasts. Dressed in Mossy Oak® Break-Up™ Infinity™ pattern, its ultra-rugged, ergonomically designed synthetic stock delivers superior weather resistance and handling.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$809 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-new">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 SPS STAINLESS</p>
        <div class="div-bolt-action-image-five"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Built to carry on the tradition of the Model 700™ BDL™ Stainless Synthetic, the Model 700™ SPS™ Stainless is leading the way for the next generation of hard-hitting, fully-featured, affordably-priced rifles.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$838 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 SENDERO SF II</p>
        <div class="new-image-size"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Built on the famous Model 700™ cylindrical action, Remington Sendero rifles are the most accurate we produce for over-the-counter sale. You’ll be stunned by the degree of precision you get straight out of the box. Big game won’t be so lucky.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1502 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-next">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 VARMINT SF</p>
        <div class="div-bolt-action-image-six"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">If you value tiny groups and the big-time weather resistance of stainless steel and synthetic, consider our Model 700™ Varmint Stainless Fluted (SF) an instant treasure. Its 26" heavy-contour barrel is fluted for weight reduction while maintaining rigidity and rapid cooling.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$991 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second-three">
        <p class="new-text">MODEL 700 TACTICAL CHASSIS
</p>
        <div class="div-bolt-action-image-second-six"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Decades in the trenches with America’s military and law enforcement inspired the tactical rifle you see here – unequaled in precision, reliability and versatility – the Model 700™ Tactical Chassis.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$2,900 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <a ui-sref="model-700-tactical-chassis"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 VTR SS (STAINLESS STEEL)
</p>
        <div class="div-bolt-action-image-seven"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">A fusion of our most advanced performance features in both tactical and varmint rifles, the Model 700™ Varmint-Target Rifle (VTR™) is a revolutionary system optimized for extended-range precision and mobility. Features include tactical bolt handle, picatinny rial and bipod.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$980 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="new-text-one">MODEL 700 VLS </p>
        <div class="new-image-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Model 700™ VLS (Varmint Laminated Stock) delivers tack-driving, varmint rifle accuracy with a handsome, resin-impregnated, laminated stock. Includes Monte Carlo cheekpiece, and a wide, flat, beaver tail shape fore-end for enhanced stability.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,056 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 SPS VARMINT</p>
        <div class="div-bolt-action-image-eight"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">“You can cover five shots with a dime.” Tell your friends it’s genetics. Fact is, when it comes to precision, there’s no finer pedigree in the industry than Remington® varmint rifles. And with our Model 700™ SPS™ Varmint, staking claim to legendary accuracy is a more attainable feat than ever.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$761 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 SPS TACTICAL</p>
        <div class="div-bolt-action-image-second-eight"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Model 700 SPS Tactical is a highly maneuverable member of the family. It’s built for tack-driving accuracy with a 20" heavy-contour tactical-style barrel and dual-point pillar bedding in its black synthetic stock. Hogue® overmoldings on the stock facilitate sure handling, and it has a semi-beavertail fore-end for added stability off a rest. Chambering includes 223 Remington and 308 Win.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$788 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-new">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 SPS TACTICAL AAC-SD</p>
        <div class="div-bolt-action-image-nine"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The Model 700 SPS Tactical AAC®-SD™ is ready-made to add your tactical accessories of choice. Its 20” heavy barrel is threaded to accept AAC® and other 5/8-24 threaded flash hiders, muzzle brakes and suppressors. The Hogue® Overmolded Ghillie Green™ pillar-bedded stock and X-Mark Pro® Externally Adjustable Trigger complete this precision, tactical package.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$842 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second-three">
        <p class="div-p-modern-rifle-text-second">MODEL 700 MOUNTAIN SS
</p>
        <div class="div-bolt-action-image-second-nine"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">An advancement of America's favorite bolt gun for the high-country, the Model 700 Mountain Rifle SS, in stainless steel with a sleek 22" Mountain Contour barrel and a new Bell & Carlson aramid-fiber-reinforced stock that helps reduce weight to a mere 6 1/2 lbs.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,152 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 783 SCOPED
</p>
        <div class="div-bolt-action-image-ten"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Custom-grade accuracy is now within reach of virtually every hunter. Building upon expertise that's dominated bolt-action technology for more than 50 years, our engineering team started from scratch and combined their most advanced, accuracy-enhancing features to create an all-new platform.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$399 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 783 CAMO </p>
        <div class="div-bolt-action-image-second-ten"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Custom-grade accuracy is now within reach of virtually every hunter. Building upon expertise that's dominated bolt-action technology for more than 50 years, our engineering team started from scratch and combined their most advanced, accuracy-enhancing features to create an all-new platform. Now available in a new camo pattern for 2016, complete with a mounted and bore sighted 3-9x40mm riflescope.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$451 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL SEVEN CDL</p>
        <div class="div-bolt-action-image-eleven"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">“Carry it in the field and you’ll understand why it’s considered one of the finest dense-cover rifles in America. Lightning-fast in close quarters and superbly accurate for the long shot, the compact, short-action Model Seven™ has been a knock-down, drag-out leader in the woods since 1983.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,039 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL SEVEN SYNTHETIC BOLT-ACTION</p>
        <div class="div-bolt-action-image-second-eleven"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Carry a Model Seven in the field and you’ll understand why it’s considered one of the finest dense-cover rifles in America. Lightning-fast in close quarters. Superbly accurate for the long shot.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$731 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL SEVEN LAMINATE</p>
        <div class="div-bolt-action-image-twelve"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The first time you carry it in the field, you’ll understand why it’s considered one of the finest dense-cover rifles in America. Lightning-fast in close quarters and superbly accurate for the long shot, the compact, short-action Model Seven™ has been a knock-down, drag-out leader in the woods since it was introduced in 1983.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,039 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second-three">
        <p class="div-p-modern-rifle-text-second-one">MODEL SEVEN STAINLESS STEEL
</p>
        <div class="div-bolt-action-image-second-twelve"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The first time you carry it in the field, you’ll understand why it’s considered one of the finest dense-cover rifles in America. Lightning-fast in close quarters and superbly accurate for the long shot, the compact, short-action Model Seven™ has been a knock-down, drag-out leader in the woods since it was introduced in 1983.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$838 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL SEVEN COMPACT SYNTHETIC
</p>
        <div class="div-bolt-action-image-thirteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Carry a Model Seven in the field and you’ll understand why it’s considered one of the finest dense-cover rifles in America. Lightning-fast in close quarters. Superbly accurate for the long shot.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$731 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 - 200TH ANN. LTD. ED.</p>
        <div class="div-bolt-action-image-second-thirteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Available through our Bicentennial year, a limited run of 2,016 classic Model 870, Model 1100, Model 700, Model 7600 and Model 1911 R1 firearms will feature a luxurious, sculpted 24 karat gold inlay portraying our founder, Eliphalet Remington, walking with his first forged barrel.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$2,399 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 ADL - 200TH ANN. CE.
</p>
        <div class="div-bolt-action-image-fourteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Remington is proud to offer select configurations of our Model 870 and 700 ADL with commemorative bronze colored medallions in the grip cap and a Model 1911 R1 with engraved walnut grips. The Model 700 ADL Walnut Commemorative Edition is available in four calibers: 243 Win, 270 Win, 30-06 SPRG and 300 Win Mag, while the Model 1911 R1 is available in 45 Auto. </p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$695 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-now">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 SPS THREADED BARREL</p>
        <div class="div-bolt-action-image-second-fourteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Remington Model 700 is a legend in every way. Its accuracy and dependatbility remain the standard more than 50 years since it was unveiled. The Model 700 SPS Threaded Muzzle is adapted for silencers to advance the legend.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$776 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 AMERICAN WILDERNESS RIFLE</p>
        <div class="div-bolt-action-image-fifteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">THE MOUNTAIN DOESN'T HAND OUT PARTICIPATION TROPHIES <br><br>In the wild and remote places that fuel your dreams, every opportunity is earned. The Model 700 AWR (American Wilderness Rifle) features a black Cerakote finish that protects its free-floated 5R barrel and legendary stainless steel action, forming a virtually indestructible barrier against corrosion and abuse. All solidly anchored within a high-performance Grayboe stock, it delivers the ultimate in strength, precision and all-...</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,150 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one-one">
    <div class="div-modern-rifle-contain-second-three">
        <p class="div-p-modern-rifle-text-second-one">MODEL 700 STAINLESS 5-R MIL-SPEC
</p>
        <div class="div-bolt-action-image-second-fifteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Built off the legendary 700 action, the Remington 700 5-R Mil-Spec sets the benchmark for accuracy and durability. Much like M-24, the barrel is cold hammer forged and features 5-R rifling. The 5R rifling profile increases barrel life expectancy, accuracy and creates less fouling and bullet deformation over time. Whether you’re a benchrest shooter or longtime hunter, look no further for better reliability and precision.<br><br>Why 5-R?<br><br>5-R rifling is the same type of rifling...</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,367 <sup id="div-modern-rifle-right-bottom-text-two-text-second">95</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-two">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 STAINLESS 5-R THREADED BARREL
</p>
        <div class="div-bolt-action-image-sixteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Built off the legendary 700 action, the Remington 700 5-R Mil-Spec sets the benchmark for accuracy and durability. Much like M-24, the barrel is cold hammer forged and features 5-R rifling. The 5R rifling profile increases barrel life expectancy, accuracy and creates less fouling and bullet deformation over time. Whether you’re a benchrest shooter or longtime hunter, look no further for better reliability and precision.<br><br>Why 5-R?<br><br>5-R rifling is the same type of rifling...</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,414 <sup id="div-modern-rifle-right-bottom-text-two-text">47</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 5-R SERIES GEN 2 </p>
        <div class="div-bolt-action-image-second-sixteen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Built off the legendary 700 action, the Remington 700 5-R Mil-Spec sets the benchmark for accuracy and durability. Much like M-24, the barrel is cold hammer forged and features 5-R rifling. The 5R rifling profile increases barrel life expectancy, accuracy and creates less fouling and bullet deformation over time. Whether you’re a benchrest shooter or longtime hunter, look no further for better reliability and precision.<br><br>Why 5-R?<br><br>5-R rifling is the same type of rifling...</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,613 <sup id="div-modern-rifle-right-bottom-text-two-text-second">26</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 700 MAGPUL</p>
        <div class="div-bolt-action-image-seventeen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">WE PROUDLY INTRODUCE THE 700 MAGPUL RIFLE<br><br><br>Remington rifles built on the Model 700 action have made their mark from the front lines of combat to the firing lines of local shooting ranges. Adding to that reputation of tactical superiority in 2017, we proudly introduce the Remington Model 700 Magpul.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,175 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 700 LONG RANGE STAINLESS</p>
        <div class="div-bolt-action-image-second-seventeen"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Engineered to make three shots look like one. From extended-range big-game hunting to printing one-ragged-hole groups from the bench, no rifle delivers like the Model 700 Long Range. And we're continually finding new ways to maximize our legendary action's...</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$940 <sup id="div-modern-rifle-right-bottom-text-two-text-second">94</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>
