<nav-bar></nav-bar>
<ui-view autoscroll='true'></ui-view>
<div class="bg-image-autoloading">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">AUTOLOADING SHOTGUNS</p>
        </div>
        <div>
            <p id="rifles-text-two">A rite of passage spanning generations. The soul of the American hunter forged in steel, and proven afield. Remington autoloading shotguns. This is our land. These are our autoloaders.</p>
        </div>
    </div>
</div>

<div class="div-modern-wrapper">
    <div class="div2-modern-wrapper-inside">
        <div class="div-modern-top-wrapper"></div>
        <div class="div-modern-bottom-wrapper">
            <div class="div-modern-inside-left">
                <div class="div-modern-inside-left-find-one">
                    <p id="div-modern-inside-left-find-one">Find your SHOTGUN</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">SHOTGUN FAMILY</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">GAUGE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL LENGTH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL TYPE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">ADDITIONAL OPTIONS</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">PASSION</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find-boxes">
                    <div class="div-modern-inside-left-find-box1">
                        <p id="box1">FIND</p>
                    </div>
                    <div class="div-modern-inside-left-find-box2">
                        <p id="box2">SHOW ALL</p>
                    </div>
                </div>
            </div>
            <div class="div-modern-inside-right">
                <div class="div-modern-inside-right-leftside">
                    <div class="div-modern-inside-right-leftside-contain">
                        <p id="div-modern-inside-right-leftside-text-one">REMINGTON AUTOLOADING SHOTGUNS</p>

                        <p id="div-modern-inside-right-leftside-text">A right of passage spanning generations. The soul of the American hunter forged in steel, and proven afield. Remington autoloading shotguns. For more than 50 years, the venerable Remington Model 1100™ has cemented its name as the most popular autoloader in history. And it’s still the choice of competitive shooters nationwide.<br><br>From light 2¾” target loads to the hardest-hitting 3” mags, the V3’s revolutionary VersaPort® gas system cycles them all with unrelenting consistency. And VersaMax® extends that capability to the heaviest 3½” magums. Proof once again, of Remington’s rightful place as the world’s most innovative shotgun maker.</p>
                    </div>
                    <div class="div-modern-inside-right-rightside-autoloading"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">V3 FIELD SPORT MO BLADES</p>
        <img src="http://bit.ly/2nVv6g8" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">We are proud to say the finest autoloaders in the world aren’t made in Italy, Belgium or Japan. They’re built right here. With the addition of the lightweight, 3”-capable V3 to our lineup, every possible hunting or sporting application is now under the reign of our Versaport gas system. For the ultimate in hunting concealment, the V3 Field Sport Synthetic Camo comes decked butt to bore in Mossy Oak® Blades™.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$995 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-autoTwo">
                    <a ui-sref="v3-field-sport-mo-blades"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">V3 FIELD SPORT MOBU COUNTRY</p>
        <img src="http://bit.ly/2o7q7X3" style="height:100px;" class="div-modern-autoloading-image-second-auto"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">From lightweight 2¾” target loads to the hardest-hitting 3” mags, it cycles them all with the same unrelenting consistency. For the ultimate in hunting concealment, the V3 Field Sport Synthetic Camo comes decked butt to bore in Mossy Oak® Break Up Country™.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$995 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 1100 AMERICAN CLASSIC</p>
        <img src="http://bit.ly/2o7FHCc" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">We’re proud to present the Remington American Classics Collection, honoring the most enduring legacy in American firearms – and the generations who have made it possible.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,682 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 1100 CLASSIC TRAP</p>
        <img src="http://bit.ly/2nqMnNo" class="div-modern-autoloading-image-second-auto"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Over 40 years after its introduction, the Remington® Model 1100 autoloader is still the choice of many competitive shooters for its superior performance, handling qualities and rich tradition on skeet and trap fields worldwide.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,334 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 1100 COMPETITION SYNTHETIC</p>
        <img src="http://bit.ly/2mGsOC2" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Our Model 1100 Competition Synthetic is super-tuned for the competitive scene. By overboring the 30" barrel and lengthening the forcing cones, we improved shot-to-shot pattern consistency and made what was one of the softest-recoiling actions in the world even easier on your shoulder. </p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,305 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text">MODEL 1100 SPORTING SERIES
</p>
        <img src="http://bit.ly/2omgyCZ" class="div-modern-autoloading-image-second"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text">The Model 1100 Sporting Series has four gauges to choose from. Designed to meet any need for the competitive shooter to not only shoot good, but look good too.

</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second-auto">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second-auto">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,254 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
