<nav-bar></nav-bar>
<ui-view autoscroll='true'></ui-view>
<div class="bg-image-pumpaction">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">PUMP-ACTION SHOTGUNS</p>
        </div>
        <div>
            <p id="rifles-text-two">Heralded as the most innovative pump-action ever conceived. Machined from a solid block of American steel. Remington Pump-Action Shotguns. The most popular and enduring shotgun designs  of all time.

</p>
        </div>
    </div>
</div>

<div class="div-modern-wrapper">
    <div class="div2-modern-wrapper-inside">
        <div class="div-modern-top-wrapper"></div>
        <div class="div-modern-bottom-wrapper">
            <div class="div-modern-inside-left">
                <div class="div-modern-inside-left-find-one">
                    <p id="div-modern-inside-left-find-one">Find your SHOTGUN</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">SHOTGUN FAMILY</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">GAUGE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL LENGTH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL TYPE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">ADDITIONAL OPTIONS</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">PASSION</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find-boxes">
                    <div class="div-modern-inside-left-find-box1">
                        <p id="box1">FIND</p>
                    </div>
                    <div class="div-modern-inside-left-find-box2">
                        <p id="box2">SHOW ALL</p>
                    </div>
                </div>
            </div>
            <div class="div-modern-inside-right">
                <div class="div-modern-inside-right-leftside">
                    <div class="div-modern-inside-right-leftside-contain">
                        <p id="div-modern-inside-right-leftside-text-one">REMINGTON PUMP-ACTION SHOTGUNS</p>

                        <p id="div-modern-inside-right-leftside-text">Heralded as the most innovative pump-action ever conceived, the Remington Model 870® pump-action shotgun changed the face of shotgun design like nothing ever before. With a receiver machined from a solid block of American steel, it’s the smoothest, most reliable pump-action shotgun in the market.<br><br>This superior dependability, as well as our ever-growing family, is why the Model 870® has been trusted by hunters, shooters and law-enforcement professionals above all others – six decades running. It is a proud legacy, measured in 12 million sold and countless generations served.</p>
                    </div>
                    <div class="div-modern-inside-right-rightside-pumpaction"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 870 WINGMASTER</p>
        <img src="http://bit.ly/2nVv6g8" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">Sure as autumn arrives, the Model 870™ Wingmaster® rises to meet another day in the upland fields and woods of America. The Model 870 is so smooth and reliable that today – more than 60 years after its introduction – it’s still the standard by which all pump shotguns are measured.

</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$847 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-autoTwo">
                    <a ui-sref="v3-field-sport-mo-blades"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">V3 FIELD SPORT MOBU COUNTRY</p>
        <img src="http://bit.ly/2nozRvY" style="height:100px;" class="div-modern-autoloading-image-second-auto"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">From lightweight 2¾” target loads to the hardest-hitting 3” mags, it cycles them all with the same unrelenting consistency. For the ultimate in hunting concealment, the V3 Field Sport Synthetic Camo comes decked butt to bore in Mossy Oak® Break Up Country™.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$995 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 870 AMERICAN CLASSIC
</p>
        <img src="http://bit.ly/2ntHlj2" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">We’re proud to continue the Remington American Classics Collection, honoring the most enduring legacy in American firearms – and the generations who have made it possible.p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,249 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL 870 WINGMASTER CLASSIC TRAP</p>
        <img src="http://bit.ly/2nb2Q5J" class="div-modern-autoloading-image-second-auto"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The semi-fancy American walnut, Monte Carlo stock and fore-end display deep cut checkering and a high-gloss finish. The Model 870 Wingmaster Classic Trap features a 30-inch light contour vent rib target barrel with twin bead sights (ivory front bead and steel mid-bead) and includes three specialized trap Rem™ Choke tubes (Singles, Mid Handicap, and Long Handicap).</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,120 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL 870 EXPRESS</p>
        <img src="http://bit.ly/2noxsl6" class="div-modern-autoloading-image"/>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">This All-American pump gun brings hunters the best of all worlds. Beneath no-nonsense, ready-for-work exterior of the Model 870 Express lies the same quality, precision, and dependability that you'll find in our legendary Model 870 Wingmaster®, but at a much more affordable price. </p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$417 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text">MODEL 870 - EXPRESS SYNTHETIC FULLY RIFLED
</p>
        <img src="http://bit.ly/2ntJZp1" class="div-modern-autoloading-image-second"/>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text">This All-American pump gun brings hunters the best of all worlds. Beneath no-nonsense, ready-for-work exterior of the Model 870 Express lies the same quality, precision, and dependability that you'll find in our legendary Model 870 Wingmaster®, but at a much more affordable price.

</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second-auto">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second-auto">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$545 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second-auto">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock-second"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
