<div class="dropdown-wrapper">
    <div class="dropdown-container">
        <ammunition-template></ammunition-template>


        <ul class="dropdown-ul">
            <!-- Shotguns -->
            <li class="dropdown-ul-li">
                <div class="dropdown-ul-li-nav2">
                    <a ui-sref="rifles" class="dropdown-ul-li-nav2-a">
                        <p id="dropdown-ul-li-nav2-text">AMMUNITION</p>
                    </a>

                    <ul class="nav2-ul">
                        <!-- Auto Loading -->
                        <li class="nav2-ul-li" ng-init=>
                            <div class="nav2-ul-li-wrapper">
                                <div ng-click="clickShotShell();clickAmmunitionTemplate(1)">
                                    <a class="nav2-ul-li-wrapper-a">SHOTSHELL</a>
                                </div>
                            </div>
                            <div class="nav2-ul-li-content" ng-if="showShotShell">
                                <ul class="nav2-ul">
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(1)"><span>UPLAND LOADS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(2)"><span>WATERFOWL LOADS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(3)"><span>TURKEY LOADS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(4)"><span>TARGET LOADS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(5)"><span>SLUGS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(6)"><span>BUCKSHOT</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Pump Action -->
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickCenterFireRifle();clickAmmunitionTemplate(7)"><span>CENTERFIRE RIFLE</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickHandgunAmmo();clickAmmunitionTemplate(8)"><span>HANDGUN</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickRimfire();clickAmmunitionTemplate(9)"><span>RIMFIRE</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li" ng-init=>
                            <div class="nav2-ul-li-wrapper">
                                <div ng-click="clickComponents();clickAmmunitionTemplate(10)">
                                    <a class="nav2-ul-li-wrapper-a">COMPONENTS</a>
                                </div>
                            </div>
                            <div class="nav2-ul-li-content" ng-if="showComponents">
                                <ul class="nav2-ul">
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(9)"><span>BRASS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(10)"><span>BULLETS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(11)"><span>PRIMERS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(12)"><span>WADS</span></a>
                                    </li>
                                    <li class="nav2-ul-li">
                                        <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickAmmunitionTemplate(13)"><span>MUZZLELOADING</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
    </li>

    <!-- Shotguns -->
    <li class="dropdown-ul-li"></li>
    <!-- Handguns -->
    <li class="dropdown-ul-li"></li>
    <!-- Ammo -->
    <li class="dropdown-ul-li"></li>
    <!-- Other Products -->
    <li class="dropdown-ul-li"></li>
    <!-- Custom Shop -->
    <li class="dropdown-ul-li"></li>
    <!-- Remington Country -->
    <li class="dropdown-ul-li"></li>
    <!-- Shop -->
    <li class="dropdown-ul-li"></li>
    </ul>


</div>
</div>
