<second-bar></second-bar>


<div class="model-r15-main-wrapper">
  <div class="model-r15-contain">
  <div class="div-model-r15-gun-name">
    <p class="div-gun-text">MODEL R-15 VTR SS VARMINT</p>
  </div>
<img src="http://bit.ly/2okJEm1" style="background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 207px;
    position: relative;
    margin: auto;
    top: 180px;
    left: 213px;">
</div>
<div class="model-r15-main-wrapper-one">
<div class="passion-wrapper-one">
<div class="currentPage-one">
<div class="currentPageHome">
  <a ui-sref="remington"><i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i></a>
</div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">...</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">...</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-Two">MODEL R-15</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageTextOne"><p class="currentPageTextOne-One">MODEL R-15 VTR SS VARMINT</p></div>
</div>

<div class="div-model-r15-right">
<div class="top-text-container-model-r15">
<p id=modelR15Text>STARTING AT</p>
<p id=modelR15TextOne>$1,299</p>
<p id=modelR15TextTwo>00</p>
<p id=modelR15TextFour>MSRP</p>
</div>
<div class="next-text-container-model-r15">
<p id=modelR15TextThree>BUY NOW</p>
</div>
<div class="next-bottom-text-container-model-r15">
<div class="next-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIND A DEALER</p>
</div>
<div class="next-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>ADD TO COMPARE</p>
</div>
</div>
<div class="last-bottom-text-container-model-r15">
<div class="last-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIREARM SAFETY</p>
</div>
<div class="last-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>WARRANTY</p>
</div>
</div>
</div>

<div class="div-model-text-start">
  <p class="div-model-text-start-text">
    We created an unrivaled combination of precision accuracy, blazing-fast follow-ups and hunt-specific features. The new R-15 VTR™ modular repeating rifle was born of the most advanced design aspects of AR-15-style rifles available today with a strong emphasis on optimizing form and functionality for the modern predator aficionado. The results are astounding – with very serious implications for every coyote, fox or bobcat that crosses its path. Designed with input from leading predator authorities and decked in the ultra-effective Advantage® MAX-1 HD™ camouflage to blend with sage, open country and a multitude of hunting terrains. All come with five-round magazines and are compatible with all aftermarket AR-15 magazines and other accessories.
  </p>
</div>



<div class="div-model-contain-two">
  <!-- <ul class=".div-model-r15-contain-text-unordered"> -->
    <li class="div-model-contain-text-li">Semi-automatic AR-15-style rifle developed with the hunter in mind</li>
    <li class="div-model-contain-text-li">Free-floated button-rifled 0.680" Muzzle OD SS barrels with recessed hunting crown for superior accuracy
    </li>
    <li class="div-model-contain-text-li">Fluted barrel design reduces weight and promotes rapid barrel cooling</li>
    <li class="div-model-contain-text-li">Clean-breaking single-stage hunting trigger</li>
    <li class="div-model-contain-text-li">Receiver-length Picatinny rail for adding optics</li>
    <li class="div-model-contain-text-li">Realtree® Advantage® MAX-1 HDTM coverage</li>
    <li class="div-model-contain-text-li">Legal for hunting in most states</li>
  <!-- </ul> -->
  <!-- </ul> -->
  <!-- </ul> -->
  <!-- </ul> -->
</div>

</div>
