<second-bar></second-bar>
<ui-view autoscroll='true'></ui-view>

<div class="model-r15-main-wrapper">
  <div class="model-r15-contain">
  <div class="div-model-r15-gun-name">
    <p class="div-gun-text">MODEL 700 VTR"</p>
  </div>
<img src="http://bit.ly/2o2p9hX" style="background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 407px;
    position: relative;
    margin: auto;
    top: 100px;
    left: 213px;">
</div>
<div class="model-r15-main-wrapper-one-one">
<div class="passion-wrapper-one">
<div class="currentPage-one">
<div class="currentPageHome">
  <a ui-sref="remington"><i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i></a>
</div>
<div class="currentPageArrow"></div>
<a ui-sref="rifles"><div class="currentPageText"><p class="currentPageTextOne-start">rifles</p></div></a>
<div class="currentPageArrow"></div>
<a ui-sref="bolt-action"><div class="currentPageText"><p class="currentPageTextOne-start">BOLT-ACTION</p></div></a>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-Two">MODEL 700</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageTextOne"><p class="currentPageTextOne-One">MODEL 700 VTR"</p></div>
</div>

<div class="div-model-r15-right">
<div class="top-text-container-model-r15">
<p id=modelR15Text>STARTING AT</p>
<p id=modelR15TextOne>$930</p>
<p id=modelR15TextTwo>00</p>
<p id=modelR15TextFour>MSRP</p>
</div>
<div class="next-text-container-model-r15">
<p id=modelR15TextThree>BUY NOW</p>
</div>
<div class="next-bottom-text-container-model-r15">
<div class="next-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIND A DEALER</p>
</div>
<div class="next-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>ADD TO COMPARE</p>
</div>
</div>
<div class="last-bottom-text-container-model-r15">
<div class="last-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIREARM SAFETY</p>
</div>
<div class="last-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>WARRANTY</p>
</div>
</div>
</div>

<div class="div-model-text-start">
  <p class="div-model-text-start-text">
    VARMINT PRECISION. TACTICAL ENHANCEMENT.
<br><br>
    A fusion of our most advanced performance features in both tactical and varmint rifles, the Model 700™ Varmint-Tactical Rifle (VTR™) is a revolutionary system optimized for extended-range precision and mobility. Its triangular barrel contour is a product of years of rigorous research and development focused on reducing weight, enhancing rigidity and promoting rapid heat dissipation.
<br><br>
    To decrease recoil and muzzle jump, this uniquely contoured 22" barrel has a machined-in, integral muzzle brake. Along with the new barrel design, we brought together a host of other cutting-edge features on our super-accurate Model 700 platform. The results are nothing short of astounding.
  </p>
</div>





</div>
