<second-bar></second-bar>
<ui-view autoscroll='true'></ui-view>

<div class="model-r15-main-wrapper">
  <div class="model-r15-contain">
  <div class="div-model-r15-gun-name">
    <p class="div-gun-text">MODEL 700 CDL SF"</p>
  </div>
<img src="http://bit.ly/2nYpD8o" style="background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 407px;
    position: relative;
    margin: auto;
    top: 100px;
    left: 213px;">
</div>
<div class="model-r15-main-wrapper-one-one">
<div class="passion-wrapper-one">
<div class="currentPage-one">
<div class="currentPageHome">
  <a ui-sref="remington"><i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i></a>
</div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">rifles</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">BOLT-ACTION</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-Two">MODEL 700</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageTextOne"><p class="currentPageTextOne-One">MODEL 700 CDL SF"</p></div>
</div>

<div class="div-model-r15-right">
<div class="top-text-container-model-r15">
<p id=modelR15Text>STARTING AT</p>
<p id=modelR15TextOne>$1,180</p>
<p id=modelR15TextTwo>00</p>
<p id=modelR15TextFour>MSRP</p>
</div>
<div class="next-text-container-model-r15">
<p id=modelR15TextThree>BUY NOW</p>
</div>
<div class="next-bottom-text-container-model-r15">
<div class="next-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIND A DEALER</p>
</div>
<div class="next-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>ADD TO COMPARE</p>
</div>
</div>
<div class="last-bottom-text-container-model-r15">
<div class="last-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIREARM SAFETY</p>
</div>
<div class="last-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>WARRANTY</p>
</div>
</div>
</div>

<div class="div-model-text-start">
  <p class="div-model-text-start-text">
    ENGINEERED FOR PRECISION.
EXQUISITE IN EVERY DETAIL.
<br><br>
A rifle without equal and a superior performer in every way, the Model 700 CDL SF pairs a receiver machined from a solid stainless-steel bar, with a fluted barrel for reduced weight and unmatched shot-to-shot consistency.
<br><br>
Combined with its handsomely detailed walnut stock and a host of accuracy enhancing features, it’s become one of the world’s most popular big-game configurations for good reason.
<br><br>
When first introduced, the Limited Edition Model 700™ CDL™ SF LTD was so successful, customers demanded that a full line of Model 700™ CDL™ SF rifles be produced. So here they are—each made the same as our Limited Edition rifle, but without the engraved floorplate and the “Limited” markings on the receiver – now we make it in your favorite caliber.
  </p>
</div>



<div class="div-model-contain-one-new">
  <!-- <ul class=".div-model-r15-contain-text-unordered"> -->
    <li class="div-model-contain-text-li">Receiver machined from solid-steel bar stock for unrivaled uniformity and strength</li>
    <li class="div-model-contain-text-li">Cylindrical receiver design provides a solid bedding base in the stock for consistent shot placement
    </li>
    <li class="div-model-contain-text-li">Recessed bolt face locks up inside the counter-bored breech of the barrel which is surrounded by the receiver, forming “three-rings-of-steel” enclosing the cartridge case head for unparalleled strength</li>
    <!-- <li class="div-model-contain-text-li">Clean-breaking single-stage hunting trigger</li>
    <li class="div-model-contain-text-li">Receiver-length Picatinny rail for adding optics</li>
    <li class="div-model-contain-text-li">Ergonomic pistol grip</li>
    <li class="div-model-contain-text-li">Fore-end tube drilled and tapped for accessory rails</li>
    <li class="div-model-contain-text-li">Realtree® Advantage® MAX-1 HDTM coverage</li>
    <li class="div-model-contain-text-li">Legal for hunting in most states</li>
    <li class="div-model-contain-text-li">Compatible with aftermarket AR-15 style magazines</li> -->
  <!-- </ul> -->
</div>

</div>
