<second-bar></second-bar>
<ui-view autoscroll='true'></ui-view>

<div class="model-r15-main-wrapper">
  <div class="model-r15-contain">
  <div class="div-model-r15-gun-name">
    <p class="div-gun-text">MODEL 700 TACTICAL CHASSIS"</p>
  </div>
<img src="http://bit.ly/2oa4epW" style="background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 407px;
    position: relative;
    margin: auto;
    top: 100px;
    left: 213px;">
</div>
<div class="model-r15-main-wrapper-one-one">
<div class="passion-wrapper-one">
<div class="currentPage-one">
<div class="currentPageHome">
  <a ui-sref="remington"><i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i></a>
</div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">rifles</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">BOLT-ACTION</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-Two">MODEL 700</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageTextOne"><p class="currentPageTextOne-One">MODEL 700 TACTICAL CHASSIS"</p></div>
</div>

<div class="div-model-r15-right">
<div class="top-text-container-model-r15">
<p id=modelR15Text>STARTING AT</p>
<p id=modelR15TextOne>$2,900</p>
<p id=modelR15TextTwo>00</p>
<p id=modelR15TextFour>MSRP</p>
</div>
<div class="next-text-container-model-r15">
<p id=modelR15TextThree>BUY NOW</p>
</div>
<div class="next-bottom-text-container-model-r15">
<div class="next-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIND A DEALER</p>
</div>
<div class="next-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>ADD TO COMPARE</p>
</div>
</div>
<div class="last-bottom-text-container-model-r15">
<div class="last-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIREARM SAFETY</p>
</div>
<div class="last-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>WARRANTY</p>
</div>
</div>
</div>

<div class="div-model-text-start">
  <p class="div-model-text-start-text">
    MILITARY-GRADE TACTICAL. MISSION ADAPTABLE.
    <br><br>
    Decades in the trenches with America’s military and law enforcement inspired the tactical rifle you see here – unequaled in precision, reliability and versatility – the Model 700™ Tactical Chassis. Equipped with a MDT TAC21™ Chassis, its ergonomic design serves as a base for easily adding your desired components. The free-floating 24" or 26" barrels deliver superior accuracy, while the Magpul® fully adjustable stock and pistol grip ensure shot-to-shot consistency for any shooter or scenario.
  </p>
</div>






</div>
