<second-bar></second-bar>
<ui-view autoscroll='true'></ui-view>

<div class="model-r15-main-wrapper">
  <div class="model-r15-contain">
  <div class="div-model-r15-gun-name">
    <p class="div-gun-text">MODEL R-15 VTR PREDATOR MOE 16 1/2"</p>
  </div>
<img src="http://bit.ly/2nlkhBy" style="background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 207px;
    position: relative;
    margin: auto;
    top: 180px;
    left: 213px;">
</div>
<div class="model-r15-main-wrapper-one">
<div class="passion-wrapper-one">
<div class="currentPage-one">
<div class="currentPageHome">
  <a ui-sref="remington"><i class="fa fa-home home-logo" style="font-size:25px; color: #555;" aria-hidden="true"></i></a>
</div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">...</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-start">...</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageText"><p class="currentPageTextOne-Two">MODEL R-15</p></div>
<div class="currentPageArrow"></div>
<div class="currentPageTextOne"><p class="currentPageTextOne-One">MODEL R-15 VTR PREDATOR MOE 16 1/2"</p></div>
</div>

<div class="div-model-r15-right">
<div class="top-text-container-model-r15">
<p id=modelR15Text>STARTING AT</p>
<p id=modelR15TextOne>$1,199</p>
<p id=modelR15TextTwo>00</p>
<p id=modelR15TextFour>MSRP</p>
</div>
<div class="next-text-container-model-r15">
<p id=modelR15TextThree>BUY NOW</p>
</div>
<div class="next-bottom-text-container-model-r15">
<div class="next-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIND A DEALER</p>
</div>
<div class="next-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>ADD TO COMPARE</p>
</div>
</div>
<div class="last-bottom-text-container-model-r15">
<div class="last-bottom-text-container-model-r15-left">
<p id=modelR15TextFive>FIREARM SAFETY</p>
</div>
<div class="last-bottom-text-container-model-r15-right">
<p id=modelR15TextSix>WARRANTY</p>
</div>
</div>
</div>

<div class="div-model-text-start">
  <p class="div-model-text-start-text">
    The Model R-15 VTR Predator MOE - the peak in predator crushing performance. Features include the Magpul Grip. With a low profile, compact design and steeper grip angle compared to more traditional styles, it delivers max comfort and control shot after shot. The polymer Magpul Trigger Guard is "V"-shaped for better use with gloves, while the AAC® 51 Tooth Blackout silences flash and reduces recoil for even faster follow-ups. Each also comes with a two stage trigger for match-grade accuracy, <br>and is decked in Mossy Oak® Brush™ camo.
  </p>
</div>



<div class="div-model-contain">
  <!-- <ul class=".div-model-r15-contain-text-unordered"> -->
    <li class="div-model-contain-text-li">AAC® 51 Tooth Blackout reduces rise and recoil for lightning fast follow-ups and greater shot-to-shot accuracy. Machines from high strength aerospace 17-4 stainless steel alloy and coated in a hard, durable, corrosion resistant SCARmor finish.</li>
    <li class="div-model-contain-text-li">Magpul Trigger Guard - enhanced polymer drop in replacement, with shallow "V" shape for better use with gloves
    </li>
    <li class="div-model-contain-text-li">Decked in full Mossy Oak® Brush™ camo for terrains with little to no cover</li>
    <li class="div-model-contain-text-li">Competition two stage trigger offers match grade accuracy</li>
  <!-- </ul> -->
</div>

</div>
