
<nav-bar></nav-bar>
<ui-view autoscroll='true'></ui-view>
<div class="bg-image-modernrifles">
    <div class="text-in-bg-image">
        <div>
            <p id="rifles-text-one">MODERN SPORTING RIFLES</p>
        </div>
        <div>
            <p id="rifles-text-two">Remington Modern Sporting Rifles. The AR platform reimagined. Stronger, light-weight and optimized for AR hunting, for the range or to defend. They’re the product of constant innovation.</p>
        </div>
    </div>
</div>

<div class="div-modern-wrapper">
    <div class="div2-modern-wrapper-inside">
        <div class="div-modern-top-wrapper"></div>
        <div class="div-modern-bottom-wrapper">
            <div class="div-modern-inside-left">
                <div class="div-modern-inside-left-find-one">
                    <p id="div-modern-inside-left-find-one">Find your rifle</p>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">RIFLE FAMILY</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">CARTRIDGE</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">BARREL FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK MATERIAL</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">STOCK FINISH</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">ADDITIONAL OPTIONS</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find">
                    <p id="div-modern-inside-left-find-text">PASSION</p><i class="fa fa-sort-desc arrow-icon" style="color: white; font-size: 33px; position: relative; left: 230px; bottom: 22px;" aria-hidden="true"></i>
                </div>
                <div class="div-modern-inside-left-find-boxes">
                    <div class="div-modern-inside-left-find-box1">
                        <p id="box1">FIND</p>
                    </div>
                    <div class="div-modern-inside-left-find-box2">
                        <p id="box2">SHOW ALL</p>
                    </div>
                </div>
            </div>
            <div class="div-modern-inside-right">
                <div class="div-modern-inside-right-leftside">
                    <div class="div-modern-inside-right-leftside-contain">
                        <p id="div-modern-inside-right-leftside-text-one">REMINGTON MODERN SPORTING<br> RIFLES</p>

                        <p id="div-modern-inside-right-leftside-text">Lighter and optimized for the hunt, every design aspect of the Model R25 GII was rethought and perfected to create the most agile and dependable MSR on the planet. It’s the AR platform reimagined. And proof the fittest not only
                            survive, but conquer. <br><br>Born of the most advanced design aspects of AR-15-style rifles available today, the Model R-15™ is a top choice for piling up predators. It’s an unrivaled combination of hair-splitting accuracy,
                            blazing-fast follow-ups and hunt-specific features.</p>
                    </div>
                    <div class="div-modern-inside-right-rightside"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">'MODEL R-15 VTR PREDATOR MOE FIXED STOCK</p>
        <div class="div-modern-rifle-image"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The Model R-15 VTR Predator MOE - the peak in predator crushing performance. Features include the Magpul Grip. With a low profile, compact design and steeper grip angle compared to more traditional styles, it delivers max comfort and control shot
            after shot.</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,199 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-fixed-stock"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL R-15 VTR PREDATOR MOE 16 1/2"</p>
        <div class="div-modern-rifle-image-second"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">The Model R-15 VTR Predator MOE - the peak in predator crushing performance. Features include the Magpul Grip. With a low profile, compact design and steeper grip angle compared to more traditional styles, it delivers max comfort and control shot
            after shot.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,199 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <a ui-sref='model-r15-vtr-predator-moe-16-1/2'><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL R-15 PREDATOR RIFLE</p>
        <div class="div-modern-rifle-image-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">We created an unrivaled combination of precision accuracy, blazing-fast follow-ups and hunt-specific features. The R-15 VTR™ modular repeating rifle was born of the most advanced design aspects of AR-15-style rifles available today with a strong emphasis on optimizing form and functionality for the modern predator aficionado. The results are astounding – with very serious implications for every coyote, fox or bobcat that crosses its path</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,199 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-rifle"<p id="contain-right-two">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL R-15 VTR SS VARMINT </p>
        <div class="div-modern-rifle-image-second-one"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">We created an unrivaled combination of precision accuracy, blazing-fast follow-ups and hunt-specific features. The new R-15 VTR™ modular repeating rifle was born of the most advanced design aspects of AR-15-style rifles available today with a strong emphasis on optimizing form and functionality for the modern predator aficionado. The results are astounding – with very serious implications for every coyote, fox or bobcat that crosses its path.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,299 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <a ui-sref="model-r15-vtr-ss-varmint"><p id="contain-right-one">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-one">
    <div class="div-modern-rifle-contain">
        <p class="div-p-modern-rifle-text">MODEL R-15 VTR PREDATOR MOE 22"</p>
        <div class="div-modern-rifle-image-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper">
        <p class="div-modern-rifle-right-upper-text">The Model R-15 VTR Predator MOE - the peak in predator crushing performance. Features include the Magpul Grip. With a low profile, compact design and steeper grip angle compared to more traditional styles, it delivers max comfort and control shot after shot.<br><br>The polymer Magpul Trigger Guard is "V"-shaped for better use with gloves, while the AAC® 51 Tooth Blackout silences flash and reduces recoil for even faster follow-ups. Each...</p>
        <div class="div-modern-rifle-right-bottom-wrapper">
            <div class="div-modern-rifle-right-bottom-wrapper-left">
                <div class="div-modern-rifle-right-bottom-contain-left-one">
                    <p class="div-modern-rifle-right-bottom-text">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two">
                    <p class="div-modern-rifle-right-bottom-text-two">$1,199 <sup id="div-modern-rifle-right-bottom-text-two-text">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right">
                    <a ui-sref="model-r15-vtr-predator-moe-22"<p id="contain-right-two">VIEW</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-modern-rifle-wrapper-second-one">
    <div class="div-modern-rifle-contain-second">
        <p class="div-p-modern-rifle-text-second">MODEL R-25 G11 </p>
        <div class="div-modern-rifle-image-second-two"></div>
    </div>
    <div class="div-modern-rifle-right-wrapper-second">
        <p class="div-modern-rifle-right-upper-text-second">Based on GII technology, the R25 GII is designed and optimized to be the most versatile big game Modern Sporting Rifle on the planet, while delivering all ther hair splitting accuracy you'd expect from Remington.</p>
        <div class="div-modern-rifle-right-bottom-wrapper-second">
            <div class="div-modern-rifle-right-bottom-wrapper-left-second">
                <div class="div-modern-rifle-right-bottom-contain-left-one-second">
                    <p class="div-modern-rifle-right-bottom-text-second">STARTING</p>
                    <p class="div-modern-rifle-right-bottom-text-one-second">MSRP</p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-left-two-second">
                    <p class="div-modern-rifle-right-bottom-text-two-second">$1,299 <sup id="div-modern-rifle-right-bottom-text-two-text-second">00</sup></p>
                </div>
                <div class="div-modern-rifle-right-bottom-contain-right-second">
                    <p id="contain-right-one">VIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>
