<div class="dropdown-wrapper">
    <div class="dropdown-container">
<handgun-template></handgun-template>


        <ul class="dropdown-ul">
            <!-- Handguns -->
            <li class="dropdown-ul-li">
                <div class="dropdown-ul-li-nav2">
                    <a ui-sref="rifles" class="dropdown-ul-li-nav2-a">
                        <p id="dropdown-ul-li-nav2-text">HANDGUNS</p>
                    </a>

                    <ul class="nav2-ul">
                        <!-- Handguns -->
                        <li class="nav2-ul-li" ng-init=>
                            <div class="nav2-ul-li-wrapper">
                                <div ng-click="clickRemingtonR51();clickHandgunTemplate(1)">
                                    <a class="nav2-ul-li-wrapper-a">REMINGTON R51</a>
                                </div>
                            </div>

                        </li>
                        <!-- Pump Action -->
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickRemingtonRp();clickHandgunTemplate(2)"><span>REMINGTON RP</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickModel1911R1();clickHandgunTemplate(3)"><span>MODEL 1911 R1</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickModel1911R1Enhanced();clickHandgunTemplate(4)"><span>MODEL 1911 R1 ENHANCED</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickModek1911R1Carry();clickHandgunTemplate(5)"><span>MODEL 1911 R1 CARRY</span></a>
                            </div>

                        </li>
                        <li class="nav2-ul-li">
                            <div class="nav2-ul-li-wrapper">
                                <a href="#" class="nav2-ul-li-wrapper-a" ng-click="clickRm380();clickHandgunTemplate(6)"><span>RM380</span></a>
                            </div>

                        </li>
                            </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </li>

            <!-- Shotguns -->
            <li class="dropdown-ul-li"></li>
            <!-- Handguns -->
            <li class="dropdown-ul-li"></li>
            <!-- Ammo -->
            <li class="dropdown-ul-li"></li>
            <!-- Other Products -->
            <li class="dropdown-ul-li"></li>
            <!-- Custom Shop -->
            <li class="dropdown-ul-li"></li>
            <!-- Remington Country -->
            <li class="dropdown-ul-li"></li>
            <!-- Shop -->
            <li class="dropdown-ul-li"></li>
        </ul>


    </div>
</div>
