<nav-bar></nav-bar>
<top-carousel></top-carousel>

<!-- start of new carosel -->
<div class="center">
    <div bc-flickity="{{ myCustomOptions }}">
        <div class="mySlideClassName">
            <p id="flickityImageText">Model 700 Magpul</p>
            <div class="flickityImage"></div>
            <div class="flickityPrice">
              <div class="flickity-price-spacing">
                <p class="flickity-price-msrp-size">STARTING<br>MSRP</p>
                <p class="flickity-price-size">$1,175</p><p class="flickity-price-size-two">00</p>
              </div>
                <div class="view">
                    <p id="centerView"> VIEW </p>
                </div>
            </div>
        </div>
        <div class="mySlideClassName">
            <p id="flickityImageText-one">UMC HANDGUN AMMUNITION</p>
            <div class="flickityImageOne"></div>
            <div class="flickityPrice">
              <div class="flickity-price-spacing">
                <p class="ballistics">VIEW BALLISTICS<br>CHART</p>
              </div>
                <div class="viewTwo">
                    <p id="centerView"> VIEW </p>
                </div>
            </div>
        </div>
        <div class="mySlideClassName">
            <p id="flickityImageText-two">RP9</p>
            <div class="flickityImageTwo"></div>
            <div class="flickityPrice">
              <div class="flickity-price-spacing">
              <p class="flickity-price-msrp-size">STARTING<br>MSRP</p>
              <p class="flickity-price-size">$489</p><p class="flickity-price-size-two">00</p>
            </div>
              <div class="view">
                  <p id="centerView"> VIEW </p>
              </div></div>
        </div>
        <div class="mySlideClassName">
            <p id="flickityImageText-three">Model 700 American Wilderness Rifle</p>
            <div class="flickityImageThree"></div>
            <div class="flickityPrice">
              <div class="flickity-price-spacing">
              <p class="flickity-price-msrp-size">STARTING<br>MSRP</p>
              <p class="flickity-price-size">$1,150</p><p class="flickity-price-size-two">00</p>
            </div>
              <div class="view">
                  <p id="centerView"> VIEW </p>
              </div></div>
        </div>
    </div>
</div>

<div class="underFlicky">
    <div class="underFlickyBox">
        <div class="rebateLogo"></div>
        <p id="rebateText">CASH BACK BY MAIL<br>FOR SELECT PURCHASES</p>
        <div class="learnMore">
            <p id="learnMoreText">LEARN MORE</p>
        </div>
    </div>
    <div class="underFlickyBox">
        <div class="catalogLogo"></div>
        <p id="catalogText">FLIP THROUGH OUR<br>MEDIA-RICH DIGITAL CATALOG</p>
        <div class="diveIn">
            <p id="diveInText">DIVE IN</p>
        </div>
    </div>
</div>

<div class="gameTiles">
    <div class="tileFirstRow">
        <div class="tileImageOne" id="tile">
            <p id="tileImageText">BIG GAME</p>
        </div>
        <div class="tileImageTwo" id="tile">
            <p id="tileImageText">SMALL GAME</p>
        </div>
        <div class="tileImageThree" id="tile">
            <p id="tileImageText">WATERFOWL</p>
        </div>
        <div class="tileImageFour" id="tile">
            <p id="tileImageText">UPLAND</p>
        </div>
    </div>
    <div class="tileSecondRow">
        <div class="tileImageFive" id="tile">
            <p id=tileImageText>TURKEY</p>
        </div>
        <div class="tileImageSix" id="tile">
            <p id=tileImageText>PREDATOR & <br> VARMINT</p>
        </div>
        <div class="tileImageSeven" id="tile">
            <p id=tileImageText>RANGE & <br> RECREATION</p>
        </div>
        <div class="tileImageEight" id="tile">
            <p id=tileImageText>TACTICAL</p>
        </div>
    </div>
    <div class="tileLastRow">
        <div class="tileImageNine" id="tileTwo">
            <p id="tileImageText">PERSONAL<br>PROTECTION</p>
        </div>
        <div class="tileImageTen" id="tileTwo">
            <p id="tileImageText">HOME SECURITY</p>
        </div>
        <div class="tileImageEleven" id="tileTwo">
            <p id="tileImageText">COMPETITION</p>
        </div>
    </div>
</div>

<div class="parrolaxSpacing">
    <div class="parrolaxBg"></div>
    <div class="parallax-logo">
        <svg xmlns "http://www.w3.org/2000/svg" viewBox="0 0 66.8 64.26" class="inline-svg replaced-svg">
        <path class= "logo-r-green" d="M24,26.89c1.32-.11,3.93,1.83,5.31,5.4,4,10.24,5.21,22.81,10.76,27.9,4.22,3.89,15.12,7.7,26.7-2.36L65.41,56c-3.82,3.26-5.58,4.62-9.49,4.62-5.23,0-6.76-3.48-8-7.15s-7.64-24.23-16.62-26.4c11.62-1.65,15.33-2.87,18.38-9.48,1.69-3.67,2.36-10.59-1-14.34C46.08.29,43.39,0,38.22,0H15.4l-1,2.88h5.85L6.66,46.39H1L0,49.27H24.25l.8-2.68H17.83ZM35.69,2.73c2.21,0,6.18.89,2.26,12.53-3.46,10.29-7.7,9.06-13.11,9.06L31.6,2.73Z"></path>
      </svg>
    </div>

</div>

<div class="media">
  <div class="media-one">
    <div class="media-left-up">
        <p id="media-left-up-text">RECALL, SETTLEMENT<br>& SAFETY INFORMATION</p>
        <div class="media-center-left">
            <div class="media-left-one">
                <p id="media-left-text">View Important Safety<br>Warning and Recall<br>Notices</p>
            </div>
            <div class="media-left-two">
                <p id="media-left-text-ones">Remington has settled an<br>economic-loss class<br>action lawsuit. Click here<br>for additional information</p>
            </div>
            <div class="media-left-three">
                <p id="media-left-text-two">Remington Announces<br>Voluntary Product Recall</p>
            </div>
        </div>
    </div>

    <div class="media-left-up-one">
        <div class="media-center-left">
            <div class="media-left-one-one">
                <p id="media-left-text-one">LATEST NEWS</p>
            </div>
            <div class="media-left-two-one">
                <p id="media-left-text-two">Remington Responds to<br>60 Minutes</p>
                <div class="media-left-image"></div>
                <p id="media-left-text-three">On February 19, 2017, 60 Minutes<br>broadcast a segment about<br>Remington Arms Company, LLC and<br>two tragic incidents which occured in<br> 2011. In narroating the details related<br>to each incident, 60...</p>
            </div>
            <div class="media-left-three-one">
                <p id="media-left-text-four">Remington Outdoor<br>Company and Buck<br>Knives Announce Cutlery<br>Partnership</p>
                <div class="media-left-image-one"></div>
                <p id="media-left-text-five">January 18, 2017,<br><br>Huntsville, AL - Remington Outdoor<br>Company is pleased to announce<br>today that Buck Knives is now the<br>official licensee of Remington cutlery.<br><br>"The team at...</p>
            </div>
            <div class="media-left-four-one">
                <p id="media-left-text-six">Remington RP9 Full-Size<br>Polymer Pistol Now<br>Available at Retail</p>
                <div class="media-left-image-two"></div>
                <p id="media-left-text-seven">January 18, 2017<br><br>Huntsville,AL - Remington is proud to<br>announce its full-size polymer pistol,<br>the RP9, is now available at retail<br>locations nationwide. The<br>Remington...</p>
                <div class="media-left-five-one">
                    <p id="media-left-text-eight">SHOW ALL</p>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="media-two">
<div class="media-right-container">
<div class="media-right-video"><div class="videos"><p id="videos-one">VIDEOS</p></div>
  <div class="text-in-video"><div class="video-text-width"><p id="video-text">V3</p><p id="video-text-one">IN 2015, WE'RE PROUD TO SAY THE FINEST AUTOLOADERS IN THE WORLD AREN'T<br>MADE IN ITALY, BELGIUM OR JAPAN. THEY'RE BUILT RIGHT HERE IN AMERICA.</p></div></div>
</div>
<div class="social-media-container">
<div class="imgWrap">
<div id="mediaOne" class="media-right-social">
<p class="imgDecription">The Remingtons R51s enjoying a day in<br>the sun! Please check out our website<br>to learn more and utilize the new "Buy<br> Now" feature. #R51<br>http://www.remington.com/handguns<br>/remington-r51/remington-r51</p>
</div>
</div>
<div id="mediaTwo" class="media-right-social">
  <p class="congrats">CONGRATULATIONS JAMES AND BROOKE LUYET, AND GREAT SHOOTING BROOKE!<br><div class = "wrapOne"><p class"div-text-hover">#GENDERREVEAL</p></div><br><div class="wrapTwo"><p class="div-text-hover">#REMINGTONAMMO...</p></div><br><div class="wrapThree">HTTPS://T.CO/LOXDWC6WGB</div></p>
  <div class="line"><p class="hours">11 HOURS AGO</p></div>
</div>
</div>
<div class="social-media-container">
<div id="mediaThree" class="media-right-social">
</div>
<div id="mediaFour" class="media-right-social">
</div>
</div>
<div  class="social-load"><p id="social-text">LOAD MORE</p></div>
</div>
</div>
