<div class="slideshow-container">

    <div class="slideone mySlides">
      <div class="text">
        <div id= slideone-logo></div>
        <div id= slideone-text>INTRODUCING THE RP9</div>
        <div id= slideone-textone>Maximum Firepower. Complete Control.</div>
        <div id= slideone-texttwo>LEARN MORE</div>
      </div>
    </div>

    <div class="slidetwo mySlides">
      <div class="text">
        <div id= slideone-text-one>MODEL 700 MAGPUL</div>
        <div id= slideone-textone-one>Designed to fit any shooter</div>
        <div id= slideone-texttwo-one>VIEW FEATURES</div>
      </div>
    </div>

    <div class="slidethree mySlides">
      <div class="text">
        <div id= slideone-text-one>MODEL 700 AMERICAN WILDERNESS RIFLE</div>
        <div id= slideone-textone-one>Ultimate in strength, precision & all-weather durability.</div>
        <div id= slideone-texttwo-one>LEARN MORE</div>
      </div>
    </div>

    <div class="slidefour mySlides">
      <div class="text">
        <div id= slideone-logo-one></div>
        <div id= slideone-text-two>THE PERFECTED REMINGTON R51</div>
        <div id= slideone-textone-two>POINTS INSTINCTIVELY. RECOVER INSTANTLY.</div>
        <div id= slideone-texttwo-two>LEARN MORE</div>
      </div>
    </div>

    <div class="slidefive mySlides">
      <div class="text">
        <div id= slideone-logo-two></div>
        <div id= slideone-text-three>PREMIER EYE & HEARING PROTECTION FROM WILEY X</div>
        <div id= slideone-textone-three>Remington is proud to announce a full line of eye & hearing protection tailored for the field & range.</div>
        <div id= slideone-texttwo-three>VIEW THE COLLECTION</div>
      </div>
    </div>

    <div class="slidesix mySlides">
      <div class="text">
        <div id= slideone-text-one>MODEL 700 AMERICAN WILDERNESS RIFLE</div>
        <div id= slideone-textone-one>Ultimate in strength, precision & all-weather durability.</div>
        <div id= slideone-texttwo-one>LEARN MORE</div>
      </div>
    </div>

</div>


<div style="text-align:center">
  <p class="dot" onclick="currentSlide(0)"></p>
  <p class="dot" onclick="currentSlide(1)"></p>
  <p class="dot" onclick="currentSlide(2)"></p>
  <p class="dot" onclick="currentSlide(3)"></p>
  <p class="dot" onclick="currentSlide(4)"></p>
  <p class="dot" onclick="currentSlide(5)"></p>
</div>
